/* Normalize Input Box */
input[type="text"],
input[type="date"],
input[type="password"] {
  margin: 0.25rem 0 0 0;
  font-family: sans-serif;
  color: #111111;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: unset;
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="password"]:focus {
  outline: none;
}

/* Underline Input Box */
.input-underline input[type="text"],
.input-underline input[type="date"],
.input-underline input[type="password"] {
  padding: 10px;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  transition: border 0.3s;
}
.input-underline input[type="text"]:focus,
.input-underline input[type="text"].focus,
.input-underline input[type="date"]:focus,
.input-underline input[type="date"].focus,
.input-underline input[type="password"]:focus,
.input-underline input[type="password"].focus {
  border: none;
  border-bottom: solid 1px #969696;
}

/* Social Icon Buttons reference: https://codepen.io/eswarasai/pen/GZvJOE */
.social-button {
	  background-position: 25px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
	  border-radius: 3px;
    margin: 10px auto;
    outline: rgb(255, 255, 255) none 0px;
    padding-left: 50px;
}

#facebook-connect {
    background: rgb(255, 255, 255) url('https://eswarasai.com/projects/social-login/img/facebook.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
    border: 1px solid rgb(60, 90, 154);
}

#facebook-connect:hover {
	  border-color: rgb(60, 90, 154);
	  background: rgb(60, 90, 154) url('https://eswarasai.com/projects/social-login/img/facebook-white.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
}

#google-connect {
    background: rgb(255, 255, 255) url('https://eswarasai.com/projects/social-login/img/google-plus.png') no-repeat scroll -3px -8px / 56px 63px padding-box border-box;
    border: 1px solid rgb(220, 74, 61);
}

#google-connect:hover {
	  border-color: rgb(220, 74, 61);
	  background: rgb(220, 74, 61) url('https://eswarasai.com/projects/social-login/img/google-plus-white.png') no-repeat scroll -3px -8px / 56px 63px padding-box border-box;
}

#twitter-connect {
    background: rgb(255, 255, 255) url('https://eswarasai.com/projects/social-login/img/twitter.png') no-repeat scroll 3px 1px / 45px 45px padding-box border-box;
    border: 1px solid rgb(85, 172, 238);
}

#twitter-connect:hover {
	  border-color: rgb(85, 172, 238);
	  background: rgb(85, 172, 238) url('https://eswarasai.com/projects/social-login/img/twitter-white.png') no-repeat scroll 3px 1px / 45px 45px padding-box border-box;
}

#github-connect {
    background: rgb(255, 255, 255) url('../img/auth_service_github.svg') no-repeat scroll 10px / 30px 48px padding-box border-box;
    border: 1px solid rgb(0, 0, 0);
}

#github-connect:hover {
	  background: rgb(0, 0, 0) url('../img/auth_service_github_white.svg') no-repeat scroll 10px 0px / 30px 48px padding-box border-box;
    border-color: rgb(0, 0, 0);
}
